@model IEnumerable<WebInventory.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Índice</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<div class="container-sm rounded bg-light">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Alias)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id_Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id_Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alias)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryNombre().Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeNombre().Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        <img src="@("/uploads/img/product/"+item.Image)" width=" 50px" ; height="50px" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id_Product">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id_Product">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id_Product">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
