@model WebInventory.Models.Inventory

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Movimiento</h1>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
    <div>
        <div class="card">
            <div class="card-body bg-light">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Date)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id_Deposito)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DepositNombre().Branch)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id_Product)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ProdNombre().Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Units)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Units)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Unit_Cost)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Unit_Cost)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id_Inventory" />
                    <input type="submit" value="Borrar" class="btn btn-danger" /> |
                    <a asp-action="Index">Volver a la lista</a>
                </form>
            </div>
        </div>
    </div>
</div>