@model WebInventory.Models.Inventory

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del Inventario</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Deposito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Deposito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Units)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Units)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit_Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit_Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Inventory">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
